.gallery a img{
    -webkit-border-radius: 25px;
    -moz-border-radius:  25px;
    border-radius:  25px;
    
    -webkit-transition:All 0.2s ease;
    -moz-transition:All 0.2s ease;
    -o-transition:All 0.2s ease;
    transition: all 0.2s ease;
    
    -webkit-box-shadow: 0px 2px 4px 1px #DFDFDF;
    -moz-box-shadow: 0px 2px 4px 1px #DFDFDF;
    box-shadow: 0px 2px 4px 1px #DFDFDF;
    
    /* Прозрачнсоть старт */
    /*-moz-opacity: 0.70;
    opacity: 0.70;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=70);*/
    /* Прозрачнсоть конец */
    
    margin-right:5px;
    padding:10px;
    display:inline-block;
    height:150px;
}
.gallery a img:hover{
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
}
.gallery a:focus img{
    position: relative;
    height:300px; /* Высота */
    cursor: pointer;    /* Вид курсора */
    
    /* transition старт */
    -webkit-transition:All 0.2s ease;
    -moz-transition:All 0.2s ease;
    -o-transition:All 0.2s ease;
    transition: all 0.2s ease;
    /* transition конец */
    
    /* Тень старт */
    -webkit-box-shadow: 0px 4px 4px 1px #DFDFDF;
    -moz-box-shadow: 0px 4px 4px 1px #DFDFDF;
    box-shadow: 0px 4px 4px 1px #DFDFDF;
    /* Тень конец */    
}
.gallery a{
    outline:0;
    border:0;
}