@import 'less/header.css';
@import 'less/about.css';
@import 'less/location.css';
@import 'less/menu.css';
html {
  height: 100%;
}
body {
  background: linear-gradient(transparent 50%, rgba(255, 153, 0, 0.5) 50%), linear-gradient(90deg, rgba(255, 153, 0, 0.5) 50%, transparent 50%);
  background-size: 40px 40px;
  background-attachment: fixed;
  margin-top: 110px;
}
body header {
  position: fixed;
  z-index: 1000;
}
body .logo {
  height: 70px;
}
body .text1 {
  background: #faebd4;
}
