@import 'less/header.css';
@import 'less/about.css';
@import 'less/location.css';
@import 'less/menu.css';

body {
    // background: orange;
        background-image: url("../img/OF18NR0.jpg");
        background-size: 100%;
    .logo {
        height: 70px;
    }

}