.section-about-us .block1 {
  background: white;
  border: solid 3px black;
  border-radius: 10px;
  margin-top: 50px;
  display: flex;
}
.section-about-us .block1 .text1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: black;
  line-height: 22px;
  padding: 20px;
}
.section-about-us .block1 .text1 h1 {
  text-align: center;
}
.section-about-us .block1 .text1 p {
  text-indent: 20px;
  /* Отступ первой строки в пикселах */
}
.section-about-us .block1 img {
  width: 300px;
  padding-top: 25px;
}
.section-about-us .block2 {
  margin-top: 50px;
}
