.section-about-us {
  margin-bottom: 30px;
}
.section-about-us .block1 {
  background: #faebd4;
  border: solid 3px black;
  border-radius: 10px;
  margin-top: 50px;
  display: flex;
}
.section-about-us .block1 .text1 {
  font-family: 'Neucha', serif;
  font-size: 20px;
  color: black;
  line-height: 22px;
  padding: 40px 30px;
}
.section-about-us .block1 .text1 h1 {
  text-align: center;
  padding-bottom: 20px;
  position: relative;
}
.section-about-us .block1 .text1 h1:after {
  left: 0;
  right: 0;
  bottom: 0;
  width: 75px;
  height: 1px;
  content: '';
  margin: auto;
  background: #f7862a;
  position: absolute;
}
.section-about-us .block1 .text1 h1:before {
  left: 0;
  right: -10px;
  margin: auto;
  bottom: -4px;
  width: 75px;
  height: 1px;
  content: '';
  background: #f7862a;
  position: absolute;
}
.section-about-us .block1 .text1 p {
  text-indent: 20px;
  /* Отступ первой строки в пикселах */
  padding-top: 20px;
}
.section-about-us .block1 img {
  width: 300px;
  padding-top: 25px;
}
