header {
  background: #f7862a;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 90px;
  top: 0;
  align-items: center;
  padding: 10px 0 10px 0;
  background-image: url(../../img/firewood.png);
  font-family: 'MarckScript', serif;
}
header nav .menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-family: 'Neucha', serif;
}
header nav .menu li {
  list-style-type: none;
  font-size: 18px;
  padding: 8px;
}
header nav .menu li a {
  color: #ffffff;
}
header nav .menu li a:hover {
  text-decoration: none;
}
header nav .menu li:hover {
  background: orangered;
  border-radius: 15px 15px 0 0;
}
header nav .menu .selected {
  background: green;
  border-radius: 15px 15px 0 0;
}
