header {
    background: #f7862a;
    display: flex;
    justify-content: space-around;
    // position: fixed;
    width: 100%;
    height: 90px;
    top: 0;
    // z-index: 1000;
    align-items: center;
    padding: 10px 0 10px 0;
    background-image: url(../../img/firewood.png);
    font-family: 'MarckScript', serif;
    nav {
        .menu {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            font-family: 'Neucha', serif;
            li {
                list-style-type: none;
                font-size: 18px;
                padding: 10px;
                a {
                    color: #ffffff;
                }
                a:hover {
                    text-decoration: none;
                }
            }
            li:hover {
                background: orangered;
                border-radius: 15px 15px 0 0;
            }
            .selected {
                background: green;
                border-radius: 15px 15px 0 0;
            }
        }
    }
}