.section-location .location1 .text-title {
  font-family: 'Neucha', serif;
  font-size: 20px;
  line-height: 22px;
  padding: 15px;
  color: black;
  text-indent: 20px;
  /* Отступ первой строки в пикселах */
}
.section-location .location1 .info-location {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-location .location1 .info-location .info-text {
  color: black;
  text-align: right;
  font-size: 20px;
}
.section-location .location1 .info-location .iframes {
  margin-bottom: 10px;
}
.section-location .location1 .info-location .iframes iframe {
  margin-left: 10px;
  margin-bottom: 10px;
}
@media screen and (max-width: 760px) {
  .info-location iframe {
    display: none;
  }
  .info-text {
    text-align: left;
  }
}
