.section-location .location1 .text-title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 22px;
  padding: 15px;
  color: #ffffff;
}
.section-location .location1 .info-location {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-location .location1 .info-location .info-text {
  color: #ffffff;
  text-align: right;
  font-size: 20px;
}
.section-location .location1 .info-location .iframes {
  margin-bottom: 10px;
}
.section-location .location1 .info-location .iframes iframe {
  margin-left: 10px;
  margin-bottom: 10px;
}
