.choose-item {
  display: flex;
  flex-direction: row;
  background: #ff9900;
  margin-top: -20px;
  align-items: center;
}
.choose-item p {
  font-size: 24px;
  margin-left: 10px;
}
.choose-item:hover {
  background: green;
  text-decoration: none;
  cursor: pointer;
}
