// #body{
//     background-image: url("../../img/1164.jpg");
//     background-size: 100%;
// }

.choose-item {
    display: flex;
    flex-direction: row;
    background: rgb(255, 153, 0);
    margin-top: -20px;
    align-items: center;
    p {
        font-size: 24px;
        margin-left: 10px;
    }
    &:hover {
        background: green;
        text-decoration: none;
        cursor: pointer;
    }
}