.choose-item {
  display: flex;
  flex-direction: row;
  background: #ff9900;
  margin-top: -20px;
  align-items: center;
  color: #ffffff;
}
.choose-item img {
  width: 40px;
}
.choose-item p {
  font-size: 24px;
  margin-left: 10px;
  margin-top: 15px;
}
.choose-item:hover {
  background: orangered;
  text-decoration: none;
  cursor: pointer;
  color: #000000;
}
#menu-dishes {
  background: #ff9900;
  display: none;
  color: #ffffff;
  border: solid 2px black;
  margin-bottom: 20px;
  border-radius: 8px;
}
#menu-dishes .dishes {
  font-size: 24px;
  text-decoration: none;
  list-style-image: url('../../img/Pizza-50.png');
  margin-left: 20px;
  padding: 10px;
}
#menu-dishes .dishes:hover {
  text-decoration: none;
  cursor: pointer;
  color: #000000;
}
#menu-dishes p {
  font-size: 24px;
  text-decoration: none;
}
#menu-dishes p:hover {
  background: orangered;
  cursor: pointer;
  color: #000000;
}
#menu-dishes .menu-drinks {
  display: none;
}
.item1 {
  background: #faebd4;
  border: ridge 5px;
  font-size: 16px;
  padding-bottom: 20px;
  padding: 0;
  margin: 5px;
  border-radius: 10px;
}
.item1 h2 {
  margin-left: 10px;
}
.item1 p {
  margin-left: 10px;
}
.item1 input {
  margin-left: 10px;
}
.item1 img {
  width: 100%;
}
.item1 .button-buy {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}
.item1 .button-buy .buy {
  background: #f7862a;
  padding: 10px 15px;
  border-radius: 8px;
  color: white;
}
.item1 .button-buy .buy:hover {
  color: black;
}
.item1:hover {
  box-shadow: 10px 10px 20px grey;
  cursor: pointer;
}
@media screen and (min-width: 760px) {
  .choose-item {
    display: none;
  }
  #menu-dishes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
