.section-reviews {
  font-size: 20px;
}
.section-reviews h1 {
  font-family: 'Neucha', serif;
  text-align: center;
}
.section-reviews .form-reviews {
  margin-top: 20px;
  background: #faebd4;
  border: solid 3px black;
  border-radius: 10px;
  padding: 20px;
}
.section-reviews .form-reviews .info-user {
  margin-bottom: 20px;
}
.section-reviews .form-reviews legend {
  font-family: 'Neucha', serif;
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
}
.section-reviews .form-reviews input {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 5px;
}
.section-reviews .form-reviews textarea {
  border-radius: 5px;
  width: 100%;
}
.section-reviews .form-reviews .form-titles {
  margin-bottom: 20px;
}
.section-reviews .form-reviews .buttons {
  padding-left: 20px;
  padding-right: 20px;
}
.section-reviews .form-reviews .buttons .button1 {
  width: 100%;
}
